<article class="about">
	<h3>About the author: </h3>
	<p>Zhou Hang, currently a freelance web developer from Shanghai, China with hands-on skills in frond end and back end developing, specialized in LAMP and MEAN, dedicated to building scalable, high performance websites and web apps.</p>
	<h3>About this site: </h3>
	<p>A tiny blog newly developed with Angularjs, Nodejs, Express and Mongodb. Still in progress to be updated with more and more fearures.</p>
	<p>This site in single-page app mode would not contain other content than pure articles to share knowledge and experience in learning and practicingng web development.</p>

	<h3>Contact:</h3>
	<p>Feel free to reach the author at sidewinderzhou@gmail.com</p>
</article>